@using TatilSeyahat.Models.Classes
@model List<Hakkimizda>
    @*-Hakkımızda tablosunu listeledik*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>About</h3>
            @foreach (var x in Model)
            {
                <p>@x.Aciklama</p>
                <img src=@x.FotoUrl alt="" />
            }

        </div>
    </div>
</div>
